* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
form label {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  color: #222;
  text-align: center;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.25em;
  margin-bottom: 30px;
}

h3 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 1.1em;
}

p, figcaption,
span,
a,
textarea {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #222;
}

figcaption {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.9em;
  color: #474747;
}

p, figcaption {
  line-height: 150%;
  max-width: 80ch;
  margin-bottom: 1.5em;
}

a {
  text-decoration: none;
  margin: 2px;
}
a:focus {
  outline: 2px dotted #f24052;
}

article {
  text-align: left;
}
article h2 {
  margin-top: 30px;
}
article h3, article h4, article h5, article h6 {
  text-align: left;
}

#header, #fixed-menu {
  background-color: #ffdbd8;
  width: 100%;
  overflow-x: hidden;
}

#fixed-menu {
  overflow-x: visible;
  position: fixed;
  top: 10px;
  z-index: 3;
}
#fixed-menu::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  top: -10px;
  left: 0;
  background-color: #f6e2c2;
  background-image: url("../assets/gold-glitter-strip-500-31.jpg");
  background-size: auto;
  background-repeat: repeat-x;
}
#fixed-menu .skip-to-content-link {
  position: absolute;
  left: 50%;
  margin-top: 0;
  background-color: #ffdbd8;
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.15);
  transform: translateY(-200%);
}
#fixed-menu .skip-to-content-link:focus {
  transform: translateY(150%);
}
#fixed-menu .skip-to-content-link:hover {
  background-color: #222;
}
#fixed-menu ul {
  margin: 0;
  padding: 0;
  margin-top: 64px;
  list-style: none;
  overflow: hidden;
  background-color: #222;
  text-align: center;
}
#fixed-menu li a {
  display: block;
  padding: 20px 20px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 1.25em;
  letter-spacing: 0.15px;
  background-color: #222;
  color: #f6e2c2;
}
#fixed-menu li a:hover {
  background-color: #f6e2c2;
  color: #222;
  transition: all 0.2s ease-out 0s;
}
#fixed-menu li:nth-child(1) {
  padding-top: 20px;
}
#fixed-menu li:nth-child(5) {
  padding-bottom: 20px;
}
#fixed-menu .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out 0s;
}
#fixed-menu .menu-icon {
  cursor: pointer;
  display: block;
  float: right;
  padding: 28px 18px;
  position: relative;
  user-select: none;
}
#fixed-menu .menu-icon .navicon {
  background: #222;
  display: block;
  height: 3px;
  position: relative;
  transition: background 0.2s ease-out 0s;
  width: 24px;
}
#fixed-menu .menu-icon .navicon::before, #fixed-menu .menu-icon .navicon::after {
  background: #222;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out 0s;
  width: 100%;
}
#fixed-menu .menu-icon .navicon::before {
  top: 7px;
}
#fixed-menu .menu-icon .navicon::after {
  top: -7px;
}
#fixed-menu .menu-btn {
  display: none;
}
#fixed-menu .menu-btn:checked ~ .menu {
  max-height: 450px;
}
#fixed-menu .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
#fixed-menu .menu-btn:checked ~ .menu-icon .navicon::before {
  transform: rotate(-45deg);
}
#fixed-menu .menu-btn:checked ~ .menu-icon .navicon::after {
  transform: rotate(45deg);
}
#fixed-menu .menu-btn:checked ~ .menu-icon:not(.steps) .navicon::before, #fixed-menu .menu-btn:checked ~ .menu-icon:not(.steps) .navicon::after {
  top: 0;
}

.logo {
  float: left;
  padding: 2.5px 0px 0px 10px;
}
.logo img {
  max-height: 54px;
  width: auto;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}

section {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.flex-container div {
  width: 100%;
}

.grid-title {
  grid-area: title;
  margin-bottom: 1.5em;
}
.grid-title h1,
.grid-title h2 {
  margin-bottom: 0;
}

.grid-author {
  grid-area: author;
}
.grid-author::before {
  content: "By ";
}

.grid-date {
  grid-area: date;
}
.grid-date::before {
  content: " | Published on ";
}

.grid-author,
.grid-date {
  color: #474747;
}
.grid-author::before,
.grid-date::before {
  font-weight: 300;
  font-style: italic;
}

.grid-img {
  grid-area: image;
  margin-bottom: 1.5em;
}
.grid-img img {
  max-width: 100%;
  height: auto;
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.15);
}

.grid-excerpt {
  grid-area: excerpt;
}

.grid-article {
  grid-area: article;
}

.grid-sidebar {
  grid-area: sidebar;
}
.grid-sidebar .sidebar-title {
  display: block;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  color: #222;
  margin-bottom: 1em;
}
.grid-sidebar .sidebar-title:not(:first-child) {
  margin-top: 50px;
}
.grid-sidebar ul {
  list-style: none;
  padding: 0;
}
.grid-sidebar ul li a {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}

.grid-footer {
  grid-area: footer;
}

.grid-container {
  display: grid;
}

.grid-meta {
  grid-template-areas: "title title" "image image" "excerpt excerpt" "footer footer";
}

.grid-post {
  grid-template-areas: "image" "title" "article" "sidebar";
}

.grid-gallery {
  grid-template-columns: 1fr;
  column-gap: 0;
  row-gap: 10px;
}
.grid-gallery figure img {
  width: 100%;
  height: auto;
}

.top-page {
  position: relative;
  padding-top: 80px;
  background-color: #ffdbd8;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  overflow: hidden;
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.15);
}
.top-page .container {
  z-index: 1;
}

.breadcrumbs {
  text-align: left;
  margin-bottom: 2em;
  list-style: none;
  text-indent: 0;
}
.breadcrumbs li {
  display: inline;
}
.breadcrumbs li a {
  text-decoration: underline;
  background-color: transparent;
}
.breadcrumbs li a:hover {
  background-color: #ffdbd8;
  transition: background-color 0.2s ease-out;
}
.breadcrumbs li + li::before {
  content: "> ";
}

.primary-btn, .secondary-btn {
  display: inline-block;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  border: 3px solid #222;
  padding: 5px 15px 10px;
  margin-top: 30px;
  font-size: 1.1em;
  letter-spacing: 0.15px;
  background-color: #222;
  color: #fff;
}
.primary-btn i, .secondary-btn i {
  font-size: 1.1em;
  margin-right: 2.5px;
}
.primary-btn:hover, .secondary-btn:hover {
  color: #222;
  background-color: #fff;
  transition: all 0.2s ease-out 0s;
}

.secondary-btn {
  background-color: transparent;
  color: #222;
}
.secondary-btn:hover {
  color: #ffe4e2;
  background-color: #222;
  transition: all 0.2s ease-out 0s;
}

.tech-stack {
  font-size: 2.75em;
  padding: 5px 0;
}
.tech-stack .brand-html5 {
  color: #e34c26;
}
.tech-stack .brand-css3 {
  color: #264de4;
}
.tech-stack i {
  margin: 0 5px;
}

.professional-acc i {
  margin: 10px 5px 5px;
  font-size: 2.85em;
}
.professional-acc a {
  display: inline-block;
  margin: 5px;
}
.professional-acc span {
  display: block;
}

.highlight-link {
  background-color: #fff3e0;
}
.highlight-link:hover {
  background-color: #ffe4e2;
  transition: background-color 0.2s ease-out 0s;
}

section.alt-bg {
  background-color: #f5f5f5;
  max-width: 100%;
  margin: 0;
}

.picture-bg {
  position: relative;
  background-color: #ffdbd8;
  background-image: url("../assets/contact-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.15);
}
.picture-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffdbd8;
  opacity: 0.75;
}
.picture-bg h2,
.picture-bg p,
.picture-bg figcaption,
.picture-bg a {
  z-index: 1;
}
.picture-bg p, .picture-bg figcaption {
  background-color: #ffdbd8;
}
.picture-bg h2,
.picture-bg p,
.picture-bg figcaption {
  padding-left: 10px;
  padding-right: 10px;
}

footer {
  position: relative;
  background-color: #222;
  padding-top: 50px;
  padding-bottom: 50px;
}
footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  bottom: 0;
  left: 0;
  background-color: #f6e2c2;
  background-image: url("../assets/gold-glitter-strip-500-31.jpg");
  background-size: auto;
  background-repeat: repeat-x;
}
footer span,
footer h5,
footer a {
  color: #f6e2c2;
}
footer a:hover {
  color: #ffdbd8;
  transition: color 0.2s ease-out 0s;
}
footer .alt-logo img {
  width: 100%;
  max-width: 100px;
  height: auto;
  margin-top: 30px;
}
footer .alt-logo span {
  display: block;
  font-size: 0.9em;
  margin-top: 10px;
}

@media (min-width: 540px) {
  .grid-gallery {
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }
}
@media (min-width: 768px) {
  .top-page {
    padding-top: 59px;
  }

  h2 {
    font-size: 2.5em;
  }

  h5 {
    font-size: 1.45em;
  }

  #fixed-menu ul {
    background-color: #ffdbd8;
    margin-top: 0;
  }
  #fixed-menu li {
    float: left;
  }
  #fixed-menu li:nth-child(1) {
    padding-top: 0px;
  }
  #fixed-menu li:nth-child(5) {
    padding-bottom: 0px;
  }
  #fixed-menu li a {
    padding: 20px 30px;
    font-size: 1.15em;
    background-color: #ffdbd8;
    color: #222;
  }
  #fixed-menu li a:hover {
    background-color: #222;
    color: #f6e2c2;
    transition: all 0.2s ease-out 0s;
  }
  #fixed-menu .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  #fixed-menu .menu-icon {
    display: none;
  }

  .logo {
    padding-left: 30px;
  }

  section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .flex-container {
    flex-wrap: nowrap;
  }

  .grid-meta {
    grid-template-areas: "image title title" "image excerpt excerpt" "image footer footer";
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 5%;
    text-align: left;
  }
  .grid-meta .grid-title {
    margin-bottom: 1.5em;
  }
  .grid-meta .grid-title h1,
.grid-meta .grid-title h2 {
    margin-bottom: 0;
    text-align: left;
  }
  .grid-meta .grid-footer a {
    margin: 0;
  }

  .grid-post {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "image sidebar" "title sidebar" "article sidebar";
  }

  .grid-gallery {
    text-align: center;
  }
  .grid-gallery .flex-container > div:last-child > div {
    margin-left: 0;
  }

  .secondary-btn {
    font-size: 1.2em;
  }

  .professional-acc i {
    margin: 20px 10px 10px;
  }
}
#home-title {
  min-height: 120vh;
  background-color: #ffdbd8;
  justify-content: space-evenly;
  align-items: center;
}
#home-title h1 {
  font-size: 4em;
  line-height: 1.15em;
  margin-bottom: 20px;
  margin-top: 50px;
}
#home-title span {
  display: block;
  font-size: 1.5em;
  font-weight: 300;
}
#home-title::before {
  content: "JESSICAGOZALI";
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  color: #ffe4e2;
  font-size: 30em;
  position: absolute;
  z-index: 0;
}

.title-img {
  width: 100%;
  height: auto;
}

#recent-projects .flex-container > div {
  margin-bottom: 70px;
}
#recent-projects .flex-container div {
  width: 100%;
}
#recent-projects img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.15);
}

@media (min-width: 768px) {
  #home-title {
    min-height: 100vh;
    justify-content: center;
  }
  #home-title h1 {
    font-size: 5em;
  }
  #home-title::before {
    font-size: 50em;
  }
  #home-title .container {
    margin: 30px;
  }

  #recent-projects .flex-container {
    margin-top: 70px;
  }
  #recent-projects img {
    max-width: 90%;
  }
}
@media (min-width: 1024px) {
  .title-img {
    width: 120%;
    height: auto;
  }

  #home-title h1 {
    margin-top: 0;
  }
}
#about-title::before {
  content: "ABOUT ME";
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  color: #ffe4e2;
  font-size: 8em;
  position: absolute;
  z-index: 0;
}

#key-skills img {
  width: 3em;
  height: 3em;
}
#key-skills .flex-container .flex-container {
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
#key-skills .flex-container .flex-container span {
  display: inline-block;
  flex: 1;
  margin: 20px 5px 10px;
}
#key-skills .flex-container .flex-container span .icon-text {
  display: block;
}

#edu-exp .flex-container div {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 30px;
}
#edu-exp .flex-container div span:last-child {
  font-size: 1.1em;
  font-weight: 600;
}
#edu-exp .flex-container div span:nth-last-child(2) {
  color: #474747;
}
#edu-exp .flex-container span {
  display: block;
  line-height: 175%;
}

@media (min-width: 768px) {
  #about-page .grid-meta {
    grid-template-areas: "image title title" "image excerpt excerpt" "image footer footer";
  }

  #key-skills .flex-container {
    flex-wrap: wrap;
  }
  #key-skills .flex-container > div {
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #key-skills .flex-container .flex-container span {
    flex: 0;
    min-width: 5em;
  }
}
#projects-title::before {
  content: "MY PROJECTS";
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  color: #ffe4e2;
  font-size: 8em;
  position: absolute;
  z-index: 0;
}

#project-details-title::before {
  content: "THE PROJECT TITLE";
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  color: #ffe4e2;
  font-size: 8em;
  position: absolute;
  z-index: 0;
}

#project-details-page #project-details-page .grid-container .grid-article h2 {
  text-align: left;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  #project-details-page .grid-img img {
    width: 90%;
    float: left;
  }
  #project-details-page .grid-title {
    text-align: left;
  }
  #project-details-page .grid-title h2 {
    text-align: left;
    margin-top: 30px;
  }
  #project-details-page .grid-article div:last-child {
    text-align: left;
  }
  #project-details-page .grid-sidebar {
    max-width: 80%;
    margin: 0 auto;
  }
}
#blog-title::before {
  content: "BLOG";
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  color: #ffe4e2;
  font-size: 8em;
  position: absolute;
  z-index: 0;
}

#blog-post-title::before {
  content: "THE POST TITLE";
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  color: #ffe4e2;
  font-size: 8em;
  position: absolute;
  z-index: 0;
}

#blog-post-page .grid-container .grid-article h2 {
  text-align: left;
  margin-bottom: 10px;
}

.post-pagination .flex-container {
  justify-content: space-between;
  flex-wrap: wrap;
}
.post-pagination a,
.post-pagination span {
  display: block;
  width: 100%;
  margin: 0;
}
.post-pagination a:first-child {
  margin-bottom: 30px;
}
.post-pagination a:last-child {
  margin-bottom: 100px;
}
.post-pagination span:nth-child(odd) {
  color: #474747;
}
.post-pagination span:nth-child(even) {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 1.5em;
}

@media (min-width: 768px) {
  #blog-post-page .grid-img img {
    width: 90%;
    float: left;
  }
  #blog-post-page .grid-sidebar {
    max-width: 80%;
    margin: 0 auto;
  }
  #blog-post-page .post-pagination a {
    display: inline-block;
    width: 50%;
  }
  #blog-post-page .post-pagination a:first-child {
    float: left;
    text-align: left;
  }
  #blog-post-page .post-pagination a:last-child {
    float: right;
    text-align: right;
  }
}
#contact-title::before {
  content: "CONTACT ME";
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  color: #ffe4e2;
  font-size: 8em;
  position: absolute;
  z-index: 0;
}

#contact-me .flex-container div {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 30px;
}
#contact-me .flex-container a {
  margin-top: 0;
}
#contact-me form {
  text-align: left;
}
#contact-me form label {
  display: block;
  font-size: 1.5em;
  text-align: left;
  width: 100%;
}
#contact-me form sup {
  font-family: "Open Sans", sans-serif;
  color: #f24052;
  font-size: 0.7em;
}
#contact-me form input,
#contact-me form textarea {
  margin-bottom: 15px;
  border-radius: 0;
  border: 1px solid #474747;
  min-height: 2em;
  font-size: 1em;
  width: 98%;
  padding-left: 1%;
  padding-right: 1%;
  outline: none;
}
#contact-me form input:focus,
#contact-me form textarea:focus {
  outline: 1px solid #222;
}
#contact-me form textarea {
  padding-top: 5px;
}
#contact-me form .primary-btn, #contact-me form .secondary-btn {
  padding: 15px;
  font-size: 1.2em;
}

@media (min-width: 768px) {
  #contact-me p, #contact-me figcaption {
    text-align: left;
  }
  #contact-me .flex-container div {
    max-width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

/*# sourceMappingURL=main.css.map */
