@import "partials/variables";

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

// TYPOGRAPHY
h1,
h2,
h3,
h4,
h5,
h6,
form label {
    font-family: $heading-font;
    font-weight: $heading-weight;
    color: $black-color;
    text-align: center;
}

h1 { font-size: 3em; }

h2 {
    font-size: 2.25em;
    margin-bottom: 30px;
}

h3 { font-size: 1.5em; }

h5 { font-size: 1.3em; }

h6 { font-size: 1.1em; }

p,
span,
a,
textarea,
ul li {
    font-family: $text-font;
    font-weight: $text-weight;
    color: $black-color;
}

figcaption {
    @extend p;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    font-size: .9em;
    color: $grey-color;
}

p {
    line-height: 150%;
    max-width: 80ch;
    margin-bottom: 1.5em;
}

a {
    text-decoration: none;
    margin: 2px;

    &:focus {
        outline: 2px dotted $red-color;
    }
}

abbr {
    text-decoration: none;
    border-bottom: 1px dashed $grey-color;
}

code {
    background-color: $black-color;
    color: #fff;
    padding: 2px 5px;
}

article {
    text-align: left;

    h2 { margin-top: 30px; }

    h3, h4, h5, h6 { text-align: left; }

    ul {
        padding-left: 30px;
        
        li {
            margin-bottom: 10px;
        }
    }
}

// Form
form {
    text-align: left;

    .required {
        font-family: $text-font;
        color: $red-color;
        font-size: .7em;
    }

    input,
    textarea {
        margin-bottom: 15px;
        border-radius: 0;
        border: 1px solid $grey-color;
        min-height: 2em;
        font-size: 1em;
        width: 98%;
        padding-left: 1%;
        padding-right: 1%;
        outline: none;

        &:focus {
            outline: 1px solid $black-color;
        }
    }

    textarea {
        padding-top: 5px;
    }
}

// Highlight links
.highlight-link {
    background-color: $accent-light-color;

    &:hover {
        background-color: $secondary-color;
        transition: background-color .2s ease-out 0s;
    }
}

// HEADER
#header {
    background-color: $primary-color;
    width: 100%;
    overflow-x: hidden;
}

// NAVIGATION MENU
#fixed-menu {
    @extend #header;
    overflow-x: visible;
    position: fixed;
    top: $gold-strip-height;
    z-index: 3;
    @include gold-strip(top);

    .skip-to-content-link {
        position: absolute;
        left: 50%;
        margin-top: 0;
        background-color: $primary-color;
        @include box-shadow;
        transform: translateY(-200%);

        &:focus {
            transform: translateY(150%);
        }

        &:hover {
            background-color: $black-color;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        margin-top: 64px;
        list-style: none;
        overflow: hidden;
        background-color: $black-color;
        text-align: center;
    }

    li a {
        display: block;
        padding: 20px 20px;
        text-transform: uppercase;
        font-family: $heading-font;
        font-weight: $heading-weight;
        font-size: 1.25em;
        letter-spacing: $heading-letter-spacing;
        background-color: $black-color;
        color: $accent-color;

        &:hover {
            background-color: $accent-color;
            color: $black-color;
            transition: all .2s ease-out 0s;
        }
    }

    li {
        &:nth-child(1) {
            padding-top: 20px;
        }
        &:nth-child(5) {
            padding-bottom: 20px;
        }
    }

    .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out 0s;
    }

    .menu-icon {
        cursor: pointer;
        display: block;
        float: right;
        padding: 28px 18px;
        position: relative;
        user-select: none;

        .navicon {
            background: $black-color;
            display: block;
            height: 3px;
            position: relative;
            transition: background .2s ease-out 0s;
            width: 24px;

            &::before,
            &::after {
                background: $black-color;
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                transition: all .2s ease-out 0s;
                width: 100%;
            }
            &::before {
                top: 7px;
            }
            &::after {
                top: -7px;
            }
          }
    }

    .menu-btn {
        display: none;
    
        &:checked ~ {
            .menu {
                max-height: 450px;
            }
            .menu-icon {
                .navicon {
                    background: transparent;
                    &::before {
                        transform: rotate(-45deg);
                    }
                    &::after {
                        transform: rotate(45deg);
                    }
                }
                &:not(.steps) .navicon {
                    &::before,
                    &::after {
                        top: 0;
                    }
                }
            } 
        }
    }

}

// LOGO
.logo {
    float: left;
    padding: 2.5px 0px 0px 10px;

    img {
        max-height: 54px;
        width: auto;
    }
}

// CONTAINER
.container {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

section {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}

// Flexbox container
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;

    div {
        width: 100%;
    }
}

// Grid container
.grid-title {
    grid-area: title;
    margin-bottom: 1.5em;
    
    h1,
    h2 {
        margin-bottom: 0;
    }
}

.grid-author {
    grid-area: author;

    &::before {
        content: 'By ';
    }
}

.grid-date {
    grid-area: date;

    &::before {
        content: ' | Published on ';
    }
}

.grid-author,
.grid-date {
    color: $grey-color;

    &::before {
        font-weight: 300;
        font-style: italic;
    }
}

.grid-img {
    grid-area: image;
    margin-bottom: 1.5em;

    img {
        max-width: 100%;
        height: auto;
        @include box-shadow;
    }
}

.grid-excerpt {
    grid-area: excerpt;
}

.grid-article {
    grid-area: article;
}

.grid-sidebar {
    grid-area: sidebar;
    max-width: 100%;

    .alt-bg {
        padding: 30px 5%;
    }

    .sidebar-title {
        display: block;
        font-family: $heading-font;
        font-weight: $heading-weight;
        font-size: 1.5em;
        color: $black-color;
        margin-bottom: 1em;
    }

    ul {
        list-style: none;
        padding: 0;

        > li {
            text-align: left;
            span {
                padding-left: 10px;
            }
        }

        li a {
            display: flex;
            align-items: center;
            margin-bottom: 30px;

            span {
                display: block;

                &:last-child {
                    font-size: .8em;
                    color: $grey-color;
                }
            }
        }
    }

    > .container:last-child {
        margin-top: 50px;
        max-width: 90%;
    }
}

.grid-footer {
    grid-area: footer;
}

.grid-container {
    display: grid;
}

.grid-meta {
    grid-template-areas:
    "title title"
    "image image"
    "excerpt excerpt"
    "footer footer";
}

.grid-post {
    grid-template-areas:
    "image"
    "title"
    "article"
    "sidebar";
}

.grid-gallery {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 10px;
    
    figure img {
        width: 100%;
        height: auto;
    }
}

// Lightbox
.lightbox {
    /* Default to hidden */
    display: none;
  
    /* Overlay entire screen */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    /* A bit of padding around image */
    padding: 1em;
  
    /* Translucent background */
    background: rgba(0, 0, 0, 0.8);
  }
  
  /* Unhide the lightbox when it's the target */
  .lightbox:target {
    display: block;
  }
  
  .lightbox span {
    /* Full width and height */
    display: block;
    width: 100%;
    height: 100%;
  
    /* Size and position background image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

// Top of Page
.top-page {
    position: relative;
    padding-top: 80px;
    background-color: $primary-color;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    overflow: hidden;
    @include box-shadow;

    .container {
        z-index: 1;
    }
}

// Breadcrumbs
.breadcrumbs {
    text-align: left;
    margin-bottom: 2em;
    list-style: none;
    text-indent: 0;

    li {
        display: inline;

        a {
            text-decoration: underline;
            background-color: transparent;

            &:hover {
                background-color: $primary-color;
                transition: background-color .2s ease-out;
            }
        }
    }

    li+li::before {
        content: '> ';
    }
}

// Call-to-Action
.primary-btn {
    display: inline-block;
    text-decoration: none;
    font-family: $heading-font;
    font-weight: $heading-weight;
    border: 3px solid $black-color;
    padding: 5px 15px 10px;
    margin-top: 30px;
    font-size: 1.1em;
    letter-spacing: $heading-letter-spacing;
    background-color: $black-color;
    color: #fff;

    i {
        font-size: 1.1em;
        margin-right: 2.5px;
    }

    &:hover {
        color: $black-color;
        background-color: #fff;
        transition: all .2s ease-out 0s;
    }
}

.secondary-btn {
    @extend .primary-btn;

    background-color: transparent;
    color: $black-color;

    &:hover {
        color: $secondary-color;
        background-color: $black-color;
        transition: all .2s ease-out 0s;
    }
}

// Tech Stack Icons
.tech-stack {
    font-size: 2.75em;
    padding: 5px 0;
    .brand-html5 { color: #e34c26; }
    .brand-css3 { color: #264de4; }
    .brand-bootstrap { color: #602c50; }
    .brand-js { color: #f0db4f; }
    .brand-wp { color: #21759b; }
    i {
        margin: 0 5px;
    }
}

// Professional Accounts
.professional-acc {
    i {
        margin: 10px 5px 5px;
        font-size: 2.2em;
    }

    a { 
        display: inline-block;
        margin: 10px;
    }

    span { display: block; }
}

// Alternate BG Colour
.alt-bg {
    background-color: $alt-bg-color;
    max-width: 100%;
    margin: 0;
}

// Picture BG
.picture-bg {
    position: relative;
    background-color: $primary-color;
    background-image: url('../assets/contact-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include box-shadow;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $primary-color;
        opacity: .75;
    }

    h2,
    p,
    a {
        z-index: 1;
        
    }

    p {
        background-color: $primary-color;
        font-size: 1.1em;
    }

    h2,
    p {
        padding-left: 10px;
        padding-right: 10px;
    }
}

// FOOTER
footer {
    position: relative;
    background-color: $black-color;
    padding-top: 50px;
    padding-bottom: 50px;
    @include gold-strip(bottom);

    span,
    h5,
    a {
        color: $accent-color;
    }

    a:hover {
        color: $primary-color;
        transition: color .2s ease-out 0s;
    }

    // Footer Logo
    .alt-logo {
        img {
            width: 100%;
            max-width:100px;
            height: auto;
            margin-top: 30px;
        }

        span {
            display: block;
            font-size: .9em;
            margin-top: 10px;
        }
    }
}

// MEDIA QUERIES
// Tablet > 540px
@media (min-width: 540px) {
    .grid-gallery {
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }
}

// Tablet > 768px
@media (min-width: 768px) {
    .top-page {
        padding-top: 59px;
    }

    h2 { font-size: 2.5em; }

    h5 { font-size: 1.45em; }

    #fixed-menu {
        ul {
            background-color: $primary-color;
            margin-top: 0;
        }

        li {
            float: left;

            &:nth-child(1) {
                padding-top: 0px;
            }
            &:nth-child(5) {
                padding-bottom: 0px;
            }

            a {
                padding: 20px 30px;
                font-size: 1.15em;
                background-color: $primary-color;
                color: $black-color;

                &:hover {
                    background-color: $black-color;
                    color: $accent-color;
                    transition: all .2s ease-out 0s;
                }
            }
        }

        .menu {
            clear: none;
            float: right;
            max-height: none;
        }

        .menu-icon {
            display: none;
        }
    }

    .logo {
        padding-left: 30px;
    }

    section {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .container {
        max-width: 80%;
    }

    .flex-container {
        flex-wrap: nowrap;
    }

    .grid-meta {
        grid-template-areas:
        "image title title"
        "image excerpt excerpt"
        "image footer footer";
        grid-template-columns: 2fr 1fr 1fr;
        column-gap: 5%;
        text-align: left;

        .grid-title {
            margin-bottom: 1.5em;

            h1,
            h2 {
                margin-bottom: 0;
                text-align: left;
            }
        }

        .grid-footer {
            a { margin: 0; }
        }
    }

    .grid-post {
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
        "image sidebar"
        "title sidebar"
        "article sidebar";
        column-gap: 30px;
    }

    .grid-sidebar {
        .alt-bg {
            padding: 30px 10%;
        }
    }

    .grid-gallery {
        text-align: center;

        .flex-container > div:last-child {
            > div {
                margin-left: 0;
            }
        }
    }

    .secondary-btn {
        font-size: 1.2em;
    }

    .professional-acc {
            i {
                margin: 20px 10px 10px;
            }
    }
}

// Desktop > 1200px
@media (min-width: 1200px) {
    .container {
        max-width: 70%;
    }
}

// PAGES STYLING
@import "partials/home";
@import "partials/about";
@import "partials/projects";
@import "partials/blog";
@import "partials/contact";