* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
footer .professional-acc span:first-child,
h6,
form label {
  font-family: "Oswald", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  color: #222;
  text-align: center;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.25em;
  margin-bottom: 30px;
}

h3 {
  font-size: 1.5em;
}

h5, footer .professional-acc span:first-child {
  font-size: 1.3em;
}

h6 {
  font-size: 1.1em;
}

p, figcaption,
span,
a,
textarea,
ul li {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  color: #222;
}

figcaption {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.9em;
  color: #474747;
}

p, figcaption {
  line-height: 150%;
  max-width: 80ch;
  margin-bottom: 1.5em;
}

a {
  text-decoration: none;
  margin: 2px;
}
a:focus {
  outline: 2px dotted #f24052;
}

abbr {
  text-decoration: none;
  border-bottom: 1px dashed #474747;
}

code {
  background-color: #222;
  color: #fff;
  padding: 2px 5px;
}

article {
  text-align: left;
}
article h2 {
  margin-top: 30px;
}
article h3, article h4, article h5, article footer .professional-acc span:first-child, footer .professional-acc article span:first-child, article h6 {
  text-align: left;
  margin-bottom: 10px;
}
article ul {
  padding-left: 30px;
  margin-top: -10px;
  margin-bottom: 1.5em;
}
article ul li {
  margin-bottom: 10px;
}

form {
  text-align: left;
}
form .required {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  color: #474747;
  font-size: 0.7em;
}
form input,
form textarea {
  margin-bottom: 15px;
  border-radius: 0;
  border: 1px solid #474747;
  min-height: 2em;
  font-size: 1em;
  width: 98%;
  padding-left: 1%;
  padding-right: 1%;
  outline: none;
}
form input:focus,
form textarea:focus {
  outline: 1px solid #222;
}
form textarea {
  padding-top: 5px;
}
form span.name-err, form span.email-err, form span.message-err {
  display: block;
  background-color: #f5f5f5;
  color: #f24052;
  text-indent: 7px;
  margin-top: -1em;
  margin-bottom: 1em;
}
form span.name-err.error, form span.email-err.error, form span.message-err.error {
  font-weight: bold;
}

.highlight-link {
  background-color: #fff3e0;
  transition: background-color 0.2s ease-out;
}
.highlight-link:hover {
  background-color: #ffe4e2;
  transition: background-color 0.2s ease-out;
}

#header, #fixed-menu {
  background-color: #ffdbd8;
  width: 100%;
  overflow-x: hidden;
}

/*
    COMPONENT: Text: Navigation Menu
*/
#fixed-menu {
  overflow-x: visible;
  position: fixed;
  top: 10px;
  z-index: 3;
}
#fixed-menu::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  top: -10px;
  left: 0;
  background-color: #ffdbd8;
  background-image: url("../assets/gold-glitter-strip-500-31.jpg");
  background-size: auto;
  background-repeat: repeat-x;
}
#fixed-menu .skip-to-content-link {
  position: absolute;
  left: 50%;
  margin-top: 0;
  background-color: #ffdbd8;
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.15);
  transform: translateY(-200%);
  transition: background-color 0.2s ease-out;
}
#fixed-menu .skip-to-content-link:focus {
  transform: translateY(150%);
}
#fixed-menu .skip-to-content-link:hover {
  background-color: #222;
  transition: background-color 0.2s ease-out;
}
#fixed-menu .logo {
  float: left;
  margin: 4.5px 2px 2px 12px;
}
#fixed-menu .logo img {
  max-height: 54px;
  width: auto;
}
#fixed-menu .menu-icon {
  cursor: pointer;
  display: block;
  float: right;
  padding: 28px 18px;
  position: relative;
  user-select: none;
}
#fixed-menu .menu-icon .navicon {
  background: #222;
  display: block;
  height: 3px;
  position: relative;
  transition: background 0.2s ease-out 0s;
  width: 24px;
}
#fixed-menu .menu-icon .navicon::before, #fixed-menu .menu-icon .navicon::after {
  background: #222;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out 0s;
  width: 100%;
}
#fixed-menu .menu-icon .navicon::before {
  top: 7px;
}
#fixed-menu .menu-icon .navicon::after {
  top: -7px;
}
#fixed-menu .menu-btn {
  display: none;
}
#fixed-menu .menu-btn:checked ~ .menu {
  max-height: 450px;
}
#fixed-menu .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
#fixed-menu .menu-btn:checked ~ .menu-icon .navicon::before {
  transform: rotate(-45deg);
}
#fixed-menu .menu-btn:checked ~ .menu-icon .navicon::after {
  transform: rotate(45deg);
}
#fixed-menu .menu-btn:checked ~ .menu-icon:not(.steps) .navicon::before, #fixed-menu .menu-btn:checked ~ .menu-icon:not(.steps) .navicon::after {
  top: 0;
}
#fixed-menu ul.menu {
  margin: 0;
  padding: 0;
  margin-top: 64px;
  list-style: none;
  overflow: hidden;
  background-color: #222;
  text-align: center;
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out 0s;
}
#fixed-menu ul.menu li:nth-child(1) {
  padding-top: 20px;
}
#fixed-menu ul.menu li:nth-child(5) {
  padding-bottom: 20px;
}
#fixed-menu ul.menu li a {
  display: block;
  padding: 20px 20px;
  text-transform: uppercase;
  font-family: "Oswald", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-size: 1.25em;
  letter-spacing: 0.15px;
  background-color: #222;
  color: #f6e2c2;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
#fixed-menu ul.menu li a:hover {
  background-color: #f6e2c2;
  color: #222;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

/*
  COMPONENT: Text: Top of Page
*/
.top-page {
  position: relative;
  padding-top: 80px;
  background-color: #ffdbd8;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  overflow: hidden;
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.15);
}
.top-page h1 {
  font-size: 3em;
}
.top-page .container {
  z-index: 1;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}

section {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.flex-container div {
  width: 100%;
}

.grid-title {
  grid-area: title;
  margin-bottom: 1.5em;
}
.grid-title h1,
.grid-title h2 {
  margin-bottom: 0;
}

.grid-author {
  grid-area: author;
}
.grid-author::before {
  content: "By ";
}

.grid-date {
  grid-area: date;
}
.grid-date::before {
  content: " | Published on ";
}

.grid-author,
.grid-date {
  color: #474747;
}
.grid-author::before,
.grid-date::before {
  font-weight: 300;
  font-style: italic;
}

/*
    COMPONENT: Image: Post Picture
*/
.grid-img {
  grid-area: image;
  margin-bottom: 1.5em;
}
.grid-img img {
  max-width: 100%;
  height: auto;
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.15);
}

.grid-excerpt {
  grid-area: excerpt;
}

/*
    COMPONENT: Text: Article
*/
.grid-article {
  grid-area: article;
}

/*
    COMPONENT: Text: Sidebar
*/
.grid-sidebar {
  grid-area: sidebar;
  max-width: 100%;
}
.grid-sidebar .alt-bg {
  padding: 30px 5%;
}
.grid-sidebar .sidebar-title {
  display: block;
  font-family: "Oswald", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  color: #222;
  margin-bottom: 1em;
}
.grid-sidebar ul {
  list-style: none;
  padding: 0;
}
.grid-sidebar ul > li {
  text-align: left;
}
.grid-sidebar ul > li span {
  padding-left: 10px;
}
.grid-sidebar ul li a {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.grid-sidebar ul li a span {
  display: block;
}
.grid-sidebar ul li a span:last-child {
  font-size: 0.8em;
  color: #474747;
}
.grid-sidebar > .container:last-child {
  margin-top: 50px;
  max-width: 90%;
}

.grid-footer {
  grid-area: footer;
}

.grid-container {
  display: grid;
}

.grid-meta {
  grid-template-areas: "title title" "image image" "excerpt excerpt" "footer footer";
}

.grid-post {
  grid-template-areas: "image" "title" "article" "sidebar";
}

.grid-gallery {
  grid-template-columns: 1fr;
  column-gap: 0;
  row-gap: 10px;
}
.grid-gallery figure img {
  width: 100%;
  height: auto;
}

.lightbox {
  /* Default to hidden */
  display: none;
  /* Overlay entire screen */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* A bit of padding around image */
  padding: 1em;
  /* Translucent background */
  background: rgba(0, 0, 0, 0.8);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
  display: block;
}

.lightbox span {
  /* Full width and height */
  display: block;
  width: 100%;
  height: 100%;
  /* Size and position background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/*
    COMPONENT: Text: Breadcrumbs
*/
.breadcrumbs {
  text-align: left;
  margin-bottom: 2em;
  list-style: none;
  text-indent: 0;
}
.breadcrumbs li {
  display: inline;
}
.breadcrumbs li a {
  text-decoration: underline;
  background-color: transparent;
  transition: background-color 0.2s ease-out;
}
.breadcrumbs li a:hover {
  background-color: #ffdbd8;
  transition: background-color 0.2s ease-out;
}
.breadcrumbs li + li::before {
  content: "> ";
}

.primary-btn, .secondary-btn {
  display: inline-block;
  text-decoration: none;
  font-family: "Oswald", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  border: 3px solid #fff;
  padding: 5px 15px 10px;
  margin-top: 30px;
  font-size: 1.1em;
  letter-spacing: 0.15px;
  background-color: #222;
  color: #fff;
  transition: border 0.2s ease-out, color 0.2s ease-out, background-color 0.2s ease-out;
}
.primary-btn i, .secondary-btn i {
  font-size: 1.1em;
  margin-right: 2.5px;
}
.primary-btn:hover, .secondary-btn:hover {
  border: 3px solid #222;
  color: #222;
  background-color: #fff;
  transition: border 0.2s ease-out, color 0.2s ease-out, background-color 0.2s ease-out;
}

.secondary-btn {
  background-color: transparent;
  border: 3px solid #222;
  color: #222;
  transition: border 0.2s ease-out, color 0.2s ease-out, background-color 0.2s ease-out;
}
.secondary-btn:hover {
  color: #ffe4e2;
  border: 3px solid transparent;
  background-color: #222;
  transition: border 0.2s ease-out, color 0.2s ease-out, background-color 0.2s ease-out;
}

/*
    COMPONENT: Image: SVG Icon
*/
.svg-icon img {
  width: 48px;
  height: 48px;
}

.tech-stack {
  font-size: 2.75em;
  padding: 5px 0;
}
.tech-stack .brand-html5 {
  color: #e34c26;
}
.tech-stack .brand-css3 {
  color: #264de4;
}
.tech-stack .brand-bootstrap {
  color: #602c50;
}
.tech-stack .brand-js {
  color: #f0db4f;
}
.tech-stack .brand-wp {
  color: #21759b;
}
.tech-stack i {
  margin: 0 5px;
}

.professional-acc i {
  margin: 10px 5px 5px;
  font-size: 2.2em;
}
.professional-acc a {
  display: inline-block;
  margin: 10px;
}
.professional-acc span {
  display: block;
}

.alt-bg {
  background-color: #f5f5f5;
  max-width: 100%;
  margin: 0;
}

.picture-bg {
  position: relative;
  background-color: #ffdbd8;
  background-image: url("../assets/contact-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.15);
}
.picture-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffdbd8;
  opacity: 0.75;
}
.picture-bg h2,
.picture-bg p,
.picture-bg figcaption,
.picture-bg a {
  z-index: 1;
}
.picture-bg p, .picture-bg figcaption {
  font-size: 1.2em;
}
.picture-bg h2,
.picture-bg p,
.picture-bg figcaption {
  padding-left: 10px;
  padding-right: 10px;
}
.picture-bg div {
  padding: 50px 50px 70px;
  background-color: rgba(255, 219, 216, 0.75);
  z-index: 1;
}

footer {
  position: relative;
  background-color: #222;
  padding-top: 50px;
  padding-bottom: 50px;
}
footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  bottom: 0;
  left: 0;
  background-color: #ffdbd8;
  background-image: url("../assets/gold-glitter-strip-500-31.jpg");
  background-size: auto;
  background-repeat: repeat-x;
}
footer .professional-acc span:first-child {
  color: #f6e2c2;
}
footer span,
footer a {
  color: #f6e2c2;
}
footer a:hover {
  color: #ffdbd8;
  transition: color 0.2s ease-out 0s;
}
footer .alt-logo img {
  width: 100%;
  max-width: 100px;
  height: auto;
  margin-top: 30px;
}
footer .alt-logo span {
  display: block;
  font-size: 0.9em;
  margin-top: 10px;
}

@media (min-width: 540px) {
  .grid-gallery {
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }
}
@media (min-width: 768px) {
  .top-page {
    padding-top: 59px;
  }

  h2 {
    font-size: 2.5em;
  }

  h5, footer .professional-acc span:first-child {
    font-size: 1.45em;
  }

  /*
      COMPONENT: Text: Navigation Menu
  */
  #fixed-menu .logo {
    margin-left: 30px;
  }
  #fixed-menu .menu-icon {
    display: none;
  }
  #fixed-menu ul.menu {
    background-color: #ffdbd8;
    margin-top: 0;
    clear: none;
    float: right;
    max-height: none;
  }
  #fixed-menu ul.menu li {
    float: left;
  }
  #fixed-menu ul.menu li:nth-child(1) {
    padding-top: 0px;
  }
  #fixed-menu ul.menu li:nth-child(5) {
    padding-bottom: 0px;
  }
  #fixed-menu ul.menu li a {
    padding: 20px 30px;
    font-size: 1.15em;
    background-color: #ffdbd8;
    color: #222;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
  }
  #fixed-menu ul.menu li a:hover {
    background-color: #222;
    color: #f6e2c2;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
  }

  section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .container {
    max-width: 80%;
  }

  .flex-container {
    flex-wrap: nowrap;
  }

  .grid-meta {
    grid-template-areas: "image title title" "image excerpt excerpt" "image footer footer";
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 5%;
    text-align: left;
  }
  .grid-meta .grid-title {
    margin-bottom: 1.5em;
  }
  .grid-meta .grid-title h1,
.grid-meta .grid-title h2 {
    margin-bottom: 0;
    text-align: left;
  }
  .grid-meta .grid-footer a {
    margin: 0;
  }

  .grid-post {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "image sidebar" "title sidebar" "article sidebar";
    column-gap: 30px;
  }

  /*
      COMPONENT: Text: Sidebar
  */
  .grid-sidebar .alt-bg {
    padding: 30px 10%;
  }

  .grid-gallery {
    text-align: center;
  }
  .grid-gallery .flex-container > div:last-child > div {
    margin-left: 0;
  }

  .secondary-btn {
    font-size: 1.2em;
  }

  .professional-acc i {
    margin: 20px 10px 10px;
  }

  .picture-bg p, .picture-bg figcaption {
    margin-bottom: 0.5em;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 70%;
  }
}
/*
  COMPONENT: Text: Top of Page
*/
#home-title {
  min-height: 120vh;
  background-color: #ffdbd8;
  justify-content: space-evenly;
  align-items: center;
}
#home-title h1 {
  font-size: 4em;
  line-height: 1.15em;
  margin-bottom: 20px;
  margin-top: 50px;
}
#home-title span {
  display: block;
  font-size: 1.5em;
  font-weight: 300;
}
#home-title::before {
  content: "JESSICAGOZALI";
  font-family: "Oswald", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  color: #ffe4e2;
  font-size: 30em;
  position: absolute;
  z-index: 0;
}
#home-title .title-img {
  width: 100%;
  height: auto;
}

/*
    COMPONENT: Image: Card Container
*/
#recent-projects .card-container > div {
  margin-bottom: 70px;
}
#recent-projects .card-container .card a img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.15);
}
#recent-projects .card-container .tech-stack {
  font-size: 1.75em;
}

@media (min-width: 768px) {
  /*
      COMPONENT: Text: Top of Page
  */
  #home-title {
    min-height: 100vh;
    justify-content: center;
  }
  #home-title h1 {
    font-size: 5em;
  }
  #home-title::before {
    font-size: 50em;
  }
  #home-title .container {
    margin: 30px;
  }

  /*
      COMPONENT: Image: Card Container
  */
  #recent-projects .card-container {
    margin-top: 70px;
  }
  #recent-projects img {
    max-width: 90%;
  }
}
@media (min-width: 1024px) {
  /*
      COMPONENT: Text: Top of Page
  */
  #home-title h1 {
    margin-top: 0;
  }
  #home-title .title-img {
    width: 110%;
    height: auto;
  }
}
@media (width: 1024px) and (orientation: portrait) {
  /*
      COMPONENT: Text: Top of Page
  */
  #home-title {
    flex-wrap: wrap;
  }
  #home-title h1 {
    font-size: 7em;
    margin-top: 10vh;
  }
}
@media (min-width: 1200px) {
  /*
      COMPONENT: Text: Top of Page
  */
  #home-title h1 {
    font-size: 5.5em;
  }
}
@media (min-width: 1600px) {
  /*
      COMPONENT: Text: Top of Page
  */
  #home-title h1 {
    font-size: 7em;
  }
  #home-title .title-img {
    width: 150%;
    height: auto;
  }
}
/*
  COMPONENT: Text: Top of Page
*/
#about-title::before {
  content: "ABOUT ME";
  font-family: "Oswald", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  color: #ffe4e2;
  font-size: 8em;
  position: absolute;
  z-index: 0;
}

#about-page .grid-excerpt p, #about-page .grid-excerpt figcaption {
  text-align: left;
}

#key-skills {
  /*
      COMPONENT: Image: SVG Icon
  */
}
#key-skills .svg-icon img {
  width: 3em;
  height: 3em;
}
#key-skills .svg-icon span {
  display: inline-block;
  flex: 1;
  margin: 20px 5px 10px;
}
#key-skills .svg-icon span .icon-text {
  display: block;
}
#key-skills .flex-container .flex-container {
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

#edu-exp .flex-container div {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 30px;
}
#edu-exp .flex-container div span:last-child {
  font-size: 1.1em;
  font-weight: 600;
}
#edu-exp .flex-container div span:nth-last-child(2) {
  color: #474747;
}
#edu-exp .flex-container span {
  display: block;
  line-height: 175%;
}

@media (min-width: 768px) {
  #about-page .grid-meta {
    grid-template-areas: "image title title" "image excerpt excerpt" "image footer footer";
  }

  #key-skills .flex-container {
    flex-wrap: wrap;
  }
  #key-skills .flex-container > div {
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #key-skills .flex-container .flex-container span {
    flex: 0;
    min-width: 5em;
  }
}
/*
  COMPONENT: Text: Top of Page
*/
#projects-title::before {
  content: "MY PROJECTS";
  font-family: "Oswald", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  color: #ffe4e2;
  font-size: 8em;
  position: absolute;
  z-index: 0;
}

.projects-page .tech-stack,
#project-details-page .tech-stack {
  font-size: 1.75em;
}

#project-details-title::before {
  content: "PROJECT DETAILS";
  font-family: "Oswald", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  color: #ffe4e2;
  font-size: 8em;
  position: absolute;
  z-index: 0;
}

#project-details-page .grid-post {
  /*
      COMPONENT: Text: Article
  */
}
#project-details-page .grid-post .grid-title {
  margin-bottom: 0;
}
#project-details-page .grid-post .grid-title h2,
#project-details-page .grid-post .grid-title p,
#project-details-page .grid-post .grid-title figcaption {
  text-align: left;
}
#project-details-page .grid-post .grid-title h2 {
  margin-top: 30px;
}
#project-details-page .grid-post .grid-article h2 {
  text-align: left;
  margin-bottom: 10px;
}
#project-details-page .grid-post .grid-sidebar {
  margin-top: 100px;
}

@media (min-width: 768px) {
  #project-details-page {
    /*
        COMPONENT: Text: Article
    */
  }
  #project-details-page .grid-img img {
    width: 90%;
    float: left;
  }
  #project-details-page .grid-title {
    text-align: left;
  }
  #project-details-page .grid-title h2 {
    text-align: left;
    margin-top: 30px;
  }
  #project-details-page .grid-article div:last-child {
    text-align: left;
  }
  #project-details-page .grid-post .grid-sidebar {
    margin-top: 0;
  }
}
/*
  COMPONENT: Text: Top of Page
*/
#blog-title::before {
  content: "BLOG";
  font-family: "Oswald", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  color: #ffe4e2;
  font-size: 8em;
  position: absolute;
  z-index: 0;
}

.blog-page .grid-title h2 {
  margin-bottom: 30px;
}

/*
  COMPONENT: Text: Top of Page
*/
#blog-post-title::before {
  content: "BLOG POST";
  font-family: "Oswald", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  color: #ffe4e2;
  font-size: 8em;
  position: absolute;
  z-index: 0;
}

#blog-post-page {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  /*
      COMPONENT: Post Pagination
  */
}
#blog-post-page .grid-container {
  /*
      COMPONENT: Text: Article
  */
}
#blog-post-page .grid-container .grid-article h2 {
  text-align: left;
  margin-bottom: 10px;
}
#blog-post-page .grid-container .grid-article article > p:last-child, #blog-post-page .grid-container .grid-article article > figcaption:last-child {
  padding-bottom: 50px;
  border-bottom: 1px solid #474747;
}
#blog-post-page .post-pagination .flex-container {
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 50px;
}
#blog-post-page .post-pagination a,
#blog-post-page .post-pagination span {
  display: block;
  width: 100%;
  margin: 0;
}
#blog-post-page .post-pagination a:first-child {
  margin-bottom: 30px;
}
#blog-post-page .post-pagination a:last-child {
  margin-bottom: 100px;
}
#blog-post-page .post-pagination span:nth-child(odd) {
  color: #474747;
}
#blog-post-page .post-pagination span:nth-child(even) {
  font-family: "Oswald", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-size: 1.5em;
}

@media (min-width: 768px) {
  #blog-post-page {
    padding-top: 100px;
    padding-bottom: 100px;
    /*
        COMPONENT: Post Pagination
    */
  }
  #blog-post-page .grid-img img {
    width: 90%;
    float: left;
  }
  #blog-post-page .post-pagination a {
    display: inline-block;
    width: 50%;
  }
  #blog-post-page .post-pagination a:first-child {
    float: left;
    text-align: left;
  }
  #blog-post-page .post-pagination a:last-child {
    float: right;
    text-align: right;
    margin-bottom: 30px;
  }
}
/*
  COMPONENT: Text: Top of Page
*/
#contact-title::before {
  content: "CONTACT ME";
  font-family: "Oswald", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  color: #ffe4e2;
  font-size: 8em;
  position: absolute;
  z-index: 0;
}

#contact-me {
  padding-top: 50px;
}
#contact-me .flex-container div {
  width: 100%;
  margin-bottom: 50px;
}
#contact-me .flex-container div:last-child {
  margin-top: 30px;
}
#contact-me .flex-container a {
  margin-top: 0;
}
#contact-me .flex-container .professional-acc i {
  margin: 0;
  padding: 10px;
  background-color: transparent;
}
#contact-me .flex-container .professional-acc i:hover {
  background-color: #ffdbd8;
  transition: background-color 0.2s ease-in-out;
}
#contact-me #contact-form label {
  display: block;
  font-size: 1.5em;
  text-align: left;
  width: 100%;
}
#contact-me #contact-form .primary-btn, #contact-me #contact-form .secondary-btn {
  padding: 15px;
  font-size: 1.25em;
  width: 100%;
}

@media (min-width: 768px) {
  #contact-me {
    padding-top: 70px;
  }
  #contact-me p, #contact-me figcaption {
    text-align: left;
  }
  #contact-me .flex-container div {
    max-width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
  #contact-me .flex-container div:first-child {
    margin-top: 30px;
  }
}

/*# sourceMappingURL=main.css.map */
