// Top of Page
#about-title {

    // Top of Page BG Text
    &::before {
        content: 'ABOUT ME';
        font-family: $heading-font;
        font-weight: $heading-weight;
        color: $secondary-color;
        font-size: 8em;
        position: absolute;
        z-index: 0;
    }
}

#about-page {
    // Override grid container
    .grid-excerpt {
        p {
            text-align: left;
        }
    }
}

// KEY SKILLS
#key-skills {
    // Icon pictures
    img {
        width: 3em;
        height: 3em;
    }

    // Override flexbox container
    .flex-container {

        .flex-container {
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            margin-bottom: 30px;
            
            // Icon picture texts
            span {
                display: inline-block;
                flex: 1;
                margin: 20px 5px 10px;

                .icon-text {
                    display: block;
                }
            }
        }
    }
}

// EDUCATIONS & EXPERIENCE
#edu-exp {

    // Override flexbox container
    .flex-container {
        div {
            width: 100%;
            margin-bottom: 50px;
            margin-top: 30px;

            span:last-child {
                font-size: 1.1em;
                font-weight: $heading-weight;
            }

            span:nth-last-child(2) {
                color: $grey-color;
            }
        }

        span {
            display: block;
            line-height: 175%;
        }
    }
}

// MEDIA QUERIES
// Tablet > 768px
@media (min-width: 768px) {
    #about-page {
        .grid-meta {
            grid-template-areas:
                "image title title"
                "image excerpt excerpt"
                "image footer footer";
        }    
    }
    
    #key-skills {
        .flex-container {
            flex-wrap: wrap;

            > div {
                width: 40%;
                margin-top: 20px;
                margin-bottom: 20px;
            }

            .flex-container {
        
                span {
                    flex: 0;
                    min-width: 5em;
                }
            }
        }
    }
}