// Top of Page
#contact-title {

    // Top of Page BG Text
    &::before {
        content: 'CONTACT ME';
        font-family: $heading-font;
        font-weight: $heading-weight;
        color: $secondary-color;
        font-size: 8em;
        position: absolute;
        z-index: 0;
    }
}

#contact-me {

    // Add spacing on top of paragraph on small screens
    padding-top: 50px;

    // Override flexbox container
    .flex-container {
        div {
            width: 100%;
            margin-bottom: 50px;
            

            &:last-child {
                margin-top: 30px;
            }
        }

        a {
            margin-top: 0;
        }

        .professional-acc {
            i {
                margin: 0;
                padding: 10px;
                background-color: transparent;

                &:hover {
                    background-color: $primary-color;
                    transition: background-color .2s ease-in-out;
                }
            }
        }
    }

    // CONTACT FORM
    #contact-form {
        label {
            display: block;
            font-size: 1.5em;
            text-align: left;
            width: 100%;
        }
        
        // Override Call-to-Action
        .primary-btn {
            padding: 15px;
            font-size: 1.2em;
            width: 100%;
        }
    }
}

// MEDIA QUERIES
// Tablet > 768px
@media (min-width: 768px) {
    #contact-me {
        padding-top: 70px;

        p {
            text-align: left;
        }

        .flex-container {
            div {
                max-width: 90%;
                padding-left: 5%;
                padding-right: 5%;

                &:first-child { margin-top: 30px; }
            }
        }
    }
}