// Top of Page
#home-title {
    min-height: 120vh;
    background-color: $primary-color;
    justify-content: space-evenly;
    align-items: center;

    // Page Title
    h1 {
        font-size: 4em;
        line-height: 1.15em;
        margin-bottom: 20px;
        margin-top: 50px;
    }
    span {
        display: block;
        font-size: 1.5em;
        font-weight: 300;
    }

    // Top of Page BG Text
    &::before {
        content: 'JESSICAGOZALI';
        font-family: $heading-font;
        font-weight: $heading-weight;
        color: $secondary-color;
        font-size: 30em;
        position: absolute;
        z-index: 0;
    }

    // Top Image
    .title-img {
        width: 100%;
        height: auto;
    }
}

// RECENT PROJECTS
// Recent Project Tile
#recent-projects {

    // Overrides main.scss to adjust spacing between Project Tiles on small screens
    .flex-container {     
        > div {
            margin-bottom: 70px;
        }
    }

    img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        @include box-shadow;
    }

    // Tech Stack
    .tech-stack {
            font-size: 1.75em;
    }
}

// MEDIA QUERIES
// Tablet > 768px
@media (min-width: 768px) {
    #home-title {
        min-height: 100vh;
        justify-content: center;

        h1 {
            font-size: 5em;
        }

        &::before {
            font-size: 50em;
        }

        .container {
            margin: 30px;
        }
    }

    #recent-projects {
        .flex-container {
            margin-top: 70px;
        }

        img {
            max-width: 90%;
        }
    }
}

// Desktop > 1024px
@media (min-width: 1024px) {
    #home-title {
        h1 { margin-top: 0; }
        
        .title-img {
            width: 110%;
            height: auto;
        }
    }
}

// XL Screen > 1600px
@media (min-width: 1600px) {
    #home-title {
        h1 { font-size: 7em; }
        
        .title-img {
            width: 150%;
            height: auto;
        }
    }
}
