/*
  COMPONENT: Text: Top of Page
*/
#home-title {
    min-height: 120vh;
    background-color: $main-color;
    justify-content: space-evenly;
    align-items: center;

    // Page Title
    h1 {
        font-size: 4em;
        line-height: 1.15em;
        margin-bottom: 20px;
        margin-top: 50px;
    }
    span {
        display: block;
        font-size: 1.5em;
        font-weight: 300;
    }

    // Top of Page BG Text
    &::before {
        content: 'JESSICAGOZALI';
        font-family: $heading-font;
        font-weight: $heading-weight;
        color: $main-light-color;
        font-size: 30em;
        position: absolute;
        z-index: 0;
    }

    // Top Image
    .title-img {
        width: 100%;
        height: auto;
    }
}

/*
    COMPONENT: Image: Card Container
*/
#recent-projects {
    .card-container {     
        > div {
            margin-bottom: 70px;
        }

        // Card Image
        .card a {
            img {
                width: 100%;
                height: auto;
                margin-bottom: 10px;
                @include box-shadow;
            }
        }

        // Tech Stack
        .tech-stack {
        font-size: 1.75em;
        }
    }
}

// MEDIA QUERIES
// Tablet > 768px
@media (min-width: 768px) {
    /*
        COMPONENT: Text: Top of Page
    */
    #home-title {
        min-height: 100vh;
        justify-content: center;

        h1 {
            font-size: 5em;
        }

        &::before {
            font-size: 50em;
        }

        .container {
            margin: 30px;
        }
    }

    /*
        COMPONENT: Image: Card Container
    */
    #recent-projects {
        .card-container {
            margin-top: 70px;
        }

        // Card Image
        img {
            max-width: 90%;
        }
    }
}

// Desktop > 1024px
@media (min-width: 1024px) {
    /*
        COMPONENT: Text: Top of Page
    */
    #home-title {
        h1 { margin-top: 0; }
        
        .title-img {
            width: 110%;
            height: auto;
        }
    }
}


// iPad Pro Portrait
@media (width: 1024px) and (orientation: portrait) {
    /*
        COMPONENT: Text: Top of Page
    */
    #home-title {
        flex-wrap: wrap;

        h1 {
            font-size: 7em;
            margin-top: 10vh;
        }
    }
}

// L Screen > 1200px
@media (min-width: 1200px) {
    /*
        COMPONENT: Text: Top of Page
    */
    #home-title {
        h1 { font-size: 5.5em; }
    }
}

// XL Screen > 1600px
@media (min-width: 1600px) {
    /*
        COMPONENT: Text: Top of Page
    */
    #home-title {
        h1 { font-size: 7em; }
        
        .title-img {
            width: 150%;
            height: auto;
        }
    }
}
