// TOP PAGE
#home-title {
    min-height: 100vh;
    background-color: $primary-color;
    justify-content: space-evenly;

    h1 {
        font-size: 3em;
        line-height: 1.15em;
        margin-bottom: 20px;
    }

    span {
        display: block;
        font-size: 1.5em;
        font-weight: 300;
    }

    .secondary-btn {
        margin-top: 30px;
    }

    &::before {
        content: 'JESSICAGOZALI';
        font-family: $heading-font;
        font-weight: $heading-weight;
        color: $secondary-color;
        font-size: 30em;
        position: absolute;
        z-index: 0;
    }

    .container {
        z-index: 1;
    }
}

.title-img {
    width: 100%;
    height: auto;
}

// RECENT PROJECTS
#recent-projects {
    .flex-container > div {
        margin-bottom: 70px;
    }

    .flex-container {
        a {
            background-color: $accent-light-color;
    
            &:hover {
                background-color: $secondary-color;
                @include transition(background-color, .2s, ease-out, 0s);
            }
        }

        div {
            width: 100%;
        }
    }

    img {
        width: 100%;
        height: auto;
    }

    .tech-stack {
        font-size: 1.4em;
        padding: 5px 0;
        .brand-html5 { color: #e34c26; }
        .brand-css3 { color: #264de4; }
        i {
            margin: 0 5px;
        }
    }
}

// MEDIA QUERIES
// Tablet > 768px
@media (min-width: 768px) {
    #home-title {
        justify-content: center;
        
        h1 {
            font-size: 5em;
        }

        &::before {
            font-size: 50em;
        }

        .container {
            margin: 30px;
        }
    }

    #recent-projects {
        .flex-container {
            margin-top: 70px;
        }

        img {
            max-width: 90%;
        }
    }
}

// Desktop > 1024px
@media (min-width: 1024px) {
 .title-img {
        width: 120%;
        height: auto;
    }
}