// TOP PAGE
#projects-title {
    &::before {
        content: 'MY PROJECTS';
        font-family: $heading-font;
        font-weight: $heading-weight;
        color: $secondary-color;
        font-size: 8em;
        position: absolute;
        z-index: 0;
    }
}