// TOP PAGE
#projects-title {
    &::before {
        content: 'MY PROJECTS';
        font-family: $heading-font;
        font-weight: $heading-weight;
        color: $secondary-color;
        font-size: 8em;
        position: absolute;
        z-index: 0;
    }
}

// Project Details Page Styling
// TOP PAGE
#project-details-title {
    &::before {
        content: 'THE PROJECT TITLE';
        font-family: $heading-font;
        font-weight: $heading-weight;
        color: $secondary-color;
        font-size: 8em;
        position: absolute;
        z-index: 0;
    }
}

#project-details-page {
    #project-details-page {
        .grid-container {
            .grid-article {
                h2 {
                    text-align: left;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

// MEDIA QUERIES
// Tablet > 768px
@media (min-width: 768px) {
    #project-details-page {
        .grid-img img {
            width: 90%;
            float: left;
        }

        .grid-title {
            text-align: left;

            h2 {
                text-align: left;
                margin-top: 30px;
            }
        }

        .grid-article {
            div:last-child {
                text-align: left;
            }
        }

        .grid-sidebar {
            max-width: 80%;
            margin: 0 auto;
        }
    }
}