// COLOURS
$primary-color: #ffdbd8;
$secondary-color: #ffe4e2;
$accent-color: #f6e2c2;
$accent-light-color: #fff3e0;
$alt-bg-color: #f5f5f5;
$black-color: #222;

// FONTS
$heading-font: 'Oswald', sans-serif;
$heading-weight: 600;
$heading-letter-spacing: .15px;
$text-font: 'Open Sans', sans-serif;
$text-weight: 400;

// TRANSITIONS
@mixin transition($property, $duration, $timing-function, $delay) {
    -webkit-transition: $property $duration $timing-function $delay;
    -moz-transition: $property $duration $timing-function $delay;
    -ms-transition: $property $duration $timing-function $delay;
    -o-transition: $property $duration $timing-function $delay;
    transition: $property $duration $timing-function $delay;
}